<!-- app/views/shared/_footer.html.erb -->
<footer class="fixed bottom-0 w-full bg-pink-100 text-gray-700 shadow-inner z-50">
  <div class="grid grid-cols-6 text-center text-xs">
    <a href="/homes" class="flex flex-col items-center p-2 hover:text-pink-500">
      <%= image_tag "home.png", alt: "home", class: "w-6 h-6 mb-1" %>
      home
    </a>
    <a href="/habits" class="flex flex-col items-center p-2 hover:text-pink-500">
      <%= image_tag "habit.png", alt: "habit", class: "w-6 h-6 mb-1" %>
      habit
    </a>
    <a href="/memos" class="flex flex-col items-center p-2 hover:text-pink-500">
      <%= image_tag "memo.png", alt: "memo", class: "w-6 h-6 mb-1" %>
      memo
    </a>
    <a href="/weights" class="flex flex-col items-center p-2 hover:text-pink-500">
      <%= image_tag "weight.png", alt: "weight", class: "w-6 h-6 mb-1" %>
      weight
    </a>
    <a href="/growth_records" class="flex flex-col items-center p-2 hover:text-pink-500">
      <%= image_tag "growth_record.png", alt: "growth_record", class: "w-6 h-6 mb-1" %>
      growth_record
    </a>
    <a href="/settings" class="flex flex-col items-center p-2 hover:text-pink-500">
      <%= image_tag "setting.png", alt: "setting", class: "w-6 h-6 mb-1" %>
      setting
    </a>
  </div>
</footer>
